PORT=3000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=3000
DB_NAME=whatsapp_gateway
DB_USER=root
DB_PASSWORD=tonMotDePasse

JWT_SECRET=une_chaine_tres_longue_et_aleatoire_ici
JWT_EXPIRES_IN=7d

BCRYPT_ROUNDS=10